@charset "UTF-8";
@font-face {
  font-family: MyFont;
  src: url(../../../fonts/icomoon.ttf);
}
@font-face {
  font-family: Outfit;
  src: url(../../../fonts/Outfit-VariableFont_wght.ttf);
}
@font-face {
  font-family: Theimfy;
  src: url(../../../fonts/themify.woff);
}
.container-main {
  width: 74%;
  margin: 0 auto;
}

body {
  font-family: OutFit, sans-serif;
  background: #f5eee7;
}

.preloader-bg,
#preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #f5eee7;
  z-index: 999999;
}

#preloader {
  display: table;
  table-layout: fixed;
}

#preloader-status {
  display: table-cell;
  vertical-align: middle;
}

.preloader-position {
  position: relative;
  margin: 0 auto;
  text-align: center;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.loader {
  position: relative;
  width: 60px;
  height: 60px;
  left: 50%;
  top: auto;
  margin-left: -22px;
  margin-top: 2px;
  animation: rotate 1s infinite linear;
}

.loader span {
  position: absolute;
  width: 60px;
  height: 60px;
  top: -2px;
  left: -2px;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.text-primary {
  color: #fff !important;
}

.progress-wrap {
  position: fixed;
  bottom: 20px;
  right: 20px;
  height: 50px;
  width: 50px;
  cursor: pointer;
  display: block;
  border-radius: 50px;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transform: translateY(20px);
  transition: all 400ms linear;
  box-shadow: inset 0 0 0 0px rgba(217, 214, 209, 0.5);
}
.progress-wrap::after {
  position: absolute;
  font-family: Themify;
  content: "✂";
  text-align: center;
  line-height: 50px;
  font-size: 12px;
  font-weight: normal;
  left: 0;
  top: 0;
  height: 50px;
  width: 50px;
  cursor: pointer;
  display: block;
  z-index: 1;
  transition: all 400ms linear;
  color: #91765a;
}
.progress-wrap svg path {
  fill: none;
}
.progress-wrap svg.progress-circle path {
  stroke-width: 4;
  box-sizing: border-box;
  transition: all 400ms linear;
  stroke: #91765a;
}

.progress-wrap.active-progress {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  z-index: 9999;
}

.navbar {
  position: absolute;
  background: transparent;
  padding-right: 0;
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 99;
  height: 100px;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.navbar .navbar-menu-icon {
  color: #fff;
}
.navbar .navbar-collapse {
  margin-top: 15px;
}
.navbar .icon-bar {
  color: #fff;
}
.navbar .navbar-nav .nav-link {
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
  margin: 1px;
  transition: all 0.4s;
  padding-right: 12px;
  padding-left: 12px;
}
.navbar .navbar-nav .nav-link:hover {
  color: #91765a;
}
.navbar .navbar-nav .nav-link.nav-color {
  color: #14100c;
}
.navbar .navbar-nav .nav-item a {
  font-weight: bold;
}
.navbar .navbar-nav .active {
  color: #91765a !important;
}
.navbar .navbar-nav .active i {
  color: #91765a;
}
.navbar .dropdown-menu {
  display: block;
  opacity: 0;
  visibility: hidden;
  transform: translateY(20px);
  width: 200px;
  padding: 15px;
  border-radius: 0;
  border: 0;
  background-color: #14100c;
  transition: all 0.3s;
}
.navbar .dropdown-menu .dropdown-item {
  padding: 7px 0;
  font-family: MyFont;
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  position: relative;
  transition: all 0.4s;
  background-color: transparent;
}
.navbar .dropdown-menu .dropdown-item span {
  display: block;
  cursor: pointer;
}
.navbar .dropdown-menu .dropdown-item i {
  padding: 13px 0 0 5px;
  font-size: 8px;
  float: right;
}
.navbar .dropdown-menu .dropdown-item:hover {
  color: #91765a;
}
.navbar .dropdown-menu .dropdown:hover .dropdown-menu {
  top: -10px;
  right: auto;
  min-width: 200px;
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.navbar .dropdown-menu .dropdown-item.active {
  color: #91765a;
}
.navbar .dropdown-menu li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.02);
}
.navbar .dropdown-menu li:last-child {
  border-bottom: none;
}
.navbar .dropdown-menu .dropdown-menu.pull-left {
  top: 0;
  left: auto;
  right: 100%;
}
.navbar .dropdown:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.navbar .dropdown-toggle::after {
  display: none;
}

.navbar-toggler-icon {
  background-image: none;
}

.nav-scroll {
  background: #14100c;
  padding: 0 0 0 0;
  position: fixed;
  top: -100px;
  left: 0;
  width: 100%;
  transition: transform 0.5s;
  transform: translateY(100px);
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  height: 90px;
  z-index: 9999;
}
.nav-scroll .navbar-toggler-icon {
  color: #91765a;
}
.nav-scroll .icon-bar {
  color: #91765a;
}
.nav-scroll .navbar-nav .nav-link {
  color: #fff;
}
.nav-scroll .navbar-nav .active {
  color: #91765a !important;
}
.nav-scroll .navbar-nav .logo {
  padding: 15px 0;
  color: #14100c;
}
.nav-scroll .logo-image {
  width: 110px;
  margin-bottom: 0px;
}
.nav-scroll .logo-wrapper .logo h2 {
  font-family: Outfit;
  font-size: 27px;
  font-weight: 800;
  display: block;
  width: 100%;
  position: relative;
  color: #fff;
  margin-bottom: 0;
  text-transform: uppercase;
}
.nav-scroll .logo-wrapper .logo span {
  display: block;
  font-family: MyFont;
  font-size: 12px;
  color: #91765a;
  font-weight: 400;
  letter-spacing: 4px;
  display: block;
  margin-top: 0px;
  line-height: 1em;
  text-transform: uppercase;
}

.logo-wrapper {
  float: left;
}
.logo-wrapper .logo h2 {
  font-family: MyFont;
  font-size: 27px;
  font-weight: 800;
  display: block;
  width: 100%;
  position: relative;
  color: #fff;
  margin-bottom: 0;
  text-transform: uppercase;
}
.logo-wrapper .logo h2 a i {
  color: #625c56;
  font-size: 20px;
  vertical-align: super;
}
.logo-wrapper .logo span {
  display: block;
  font-family: "Outfit", sans-serif;
  font-size: 12px;
  color: #91765a;
  font-weight: 400;
  letter-spacing: 4px;
  display: block;
  margin-top: 0px;
  line-height: 1em;
  text-transform: uppercase;
}

.logo {
  padding: 0;
}

.logo-image {
  width: 120px;
  margin-bottom: 0px;
}

.dropdown .nav-link i {
  padding-left: 0px;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
}

#slider .vegas-content-scrollable {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 1;
}
#slider .texting {
  margin-left: 10px;
}

[data-overlay-dark]:before {
  background: #000;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.barber-slider {
  position: relative;
}
.barber-slider::before {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-color: black;
}

.kenburns-section {
  z-index: 1;
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  position: relative;
  align-items: center;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.kenburns-section::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -5;
  background: #000;
}

.kenburns-inner {
  height: 100% !important;
  text-align: center;
  color: white;
}
.kenburns-inner .text-center {
  width: 100%;
}
.kenburns-inner .caption {
  position: relative;
}
.kenburns-inner .caption h6 {
  position: relative;
  margin-bottom: 15px;
  color: #fff;
  font-size: 12px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1.5em;
}
.kenburns-inner .caption h3 {
  position: relative;
  font-family: MyFont;
  font-size: 60px;
  line-height: 1em;
  color: #fff;
  font-weight: 400;
}
.kenburns-inner .caption h3 span {
  display: block;
  font-size: 30px;
  display: block;
  margin-top: 0px;
  line-height: 1.5em;
  animation-delay: 0.3s;
  color: #91765a;
}
.kenburns-inner .caption h1 {
  position: relative;
  font-size: 60px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
  line-height: 1.2em;
  font-weight: bold;
}
.kenburns-inner .caption h1 span {
  display: block;
  font-size: 36px;
  display: block;
  margin-top: 0px;
  line-height: 1.5em;
  letter-spacing: 1px;
  color: transparent;
  -webkit-text-stroke: 1px #91765a;
  opacity: 0.8;
}
.kenburns-inner .appointment {
  display: inline-block;
  height: auto;
  padding: 15px 25px;
  border: 1px solid #fff;
  border-radius: 0;
  background-color: #fff;
  transition: border-color 400ms ease, color 400ms ease, background-color 400ms ease;
  color: #14100c;
  line-height: 20px;
  font-family: "Outfit", sans-serif;
  font-weight: 800;
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
}
.kenburns-inner .appointment:hover {
  border: 1px solid #91765a;
  background-color: #91765a;
  color: #fff;
}

.arrow {
  position: absolute;
  bottom: 6%;
  width: 100%;
  z-index: 999;
  outline: none;
}
.arrow i {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  color: #fff;
  font-size: 15px;
  border: 1px solid #fff;
  border-radius: 100%;
}

.arrow.bounce {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0% {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0);
  }
  20% {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0);
  }
  53% {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0);
  }
  80% {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0);
  }
  100% {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0);
  }
  40% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -30px, 0);
  }
  43% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -30px, 0);
  }
  70% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -15px, 0);
  }
  90% {
    transform: translate3d(0, -4px, 0);
  }
}
#about {
  padding-top: 120px;
  font-family: OutFit;
}
#about .list-about li {
  display: flex;
  align-items: center;
}
#about .list-about .list-icon {
  display: flex;
  align-items: center;
}
#about .list-about .list-icon i {
  font-size: 12px;
  color: #91765a;
}
#about .list-about .list-text {
  display: flex;
  align-items: center;
  margin-left: 15px;
}
#about .list-about .list-text p {
  font-size: 15px;
  margin: 0px;
}
#about h6 {
  margin-left: 2px;
  color: #91765a;
  font-size: 12px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
}
#about h3 {
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  color: #14100c;
}
#about p {
  font-size: 15px;
  font-weight: 300;
  line-height: 28px;
  color: #625c56;
  margin-bottom: 15px;
}
#about .first-image {
  width: 261px;
  height: 335px;
  margin-top: 90px;
  margin-bottom: 30px;
}
#about .second-image {
  width: 261px;
  height: 335px;
}

#services .service-cart {
  margin-top: 110px;
  display: flex;
}
#services .service-cart img {
  width: 55px;
  height: 55px;
}
#services .service-cart .description {
  margin-left: 27px;
  margin-top: -13px;
}
#services .service-cart .description h5 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}
#services .service-cart .description p {
  font-family: OutFit, sans-serif;
  font-size: 15px;
  width: 278px;
  color: #625c56;
}

#history {
  background: black;
  padding-top: 120px;
  margin-top: 120px;
  font-family: OutFit;
  padding-bottom: 120px;
}
#history .main-image img {
  width: 451px;
  height: 547px;
}
#history .title {
  margin-top: 90px;
}
#history .title .experience {
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 2px;
  color: #91765a;
  text-transform: uppercase;
}
#history .title .title-desc {
  color: white;
  font-family: OutFit, sans-serif;
  font-size: 48px;
  line-height: 1.2em;
  font-weight: 800;
}
#history p {
  font-family: OutFit, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.75em;
  color: #aba59f;
  margin-bottom: 15px;
}
#history .signature {
  display: flex;
  align-items: center;
  gap: 23px;
}
#history .signature img {
  width: 70px;
}
#history .signature .name-about {
  margin: 30px 0;
}
#history .signature .name-about .position {
  font-size: 15px;
  color: #aba59f;
}
#history .signature .name-about .name {
  font-family: OutFit, sans-serif;
  font-size: 15px;
  color: #91765a;
}

#barber-services {
  margin-top: 120px;
}
#barber-services .title {
  margin-bottom: 45ps;
  text-align: center;
}
#barber-services .title p {
  color: #91765a;
  font-size: 12px;
  margin-bottom: 0px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
}
#barber-services .title h1 {
  font-family: "Outfit", sans-serif;
  font-size: 48px;
  line-height: 1.2em;
  font-weight: 800;
  color: #14100c;
}
#barber-services .cart {
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
  top: 28px;
}
#barber-services .cart .line {
  text-align: center;
  height: 1px;
  width: 60px;
  background-color: #91765a;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  margin: 0 auto 20px;
}
#barber-services .cart:hover img {
  filter: none;
  transform: scale(1.09, 1.09);
  -webkit-filter: brightness(70%);
  transition: all 1s ease;
}
#barber-services .cart:hover .content {
  bottom: 0;
}
#barber-services .cart:hover .line {
  width: 100%;
  transition-property: all;
  transition-duration: 0.8s;
  transition-timing-function: ease-in-out;
}
#barber-services .cart .cart-image {
  position: relative;
}
#barber-services .cart .cart-image img {
  transition: all 0.5s;
  width: 100%;
  height: auto;
}
#barber-services .cart .content {
  padding: 20px;
  position: absolute;
  bottom: -123px;
  text-align: center;
  width: 100%;
  transition: all 0.3s;
  z-index: 20;
  height: auto;
  box-sizing: border-box;
}
#barber-services .cart .content .icon img {
  filter: invert(1);
  width: 40px;
  margin-bottom: 10px;
}
#barber-services .cart .content h5 {
  position: relative;
  color: #fff;
  font-size: 27px;
}
#barber-services .cart .content h6 {
  color: #91765a;
  font-size: 24px;
  font-weight: 700;
  margin-top: 10px;
  position: relative;
}
#barber-services .cart .content .subcontent {
  display: inline;
  font-size: 15px;
  color: white;
  font-family: OutFit, sans-serif;
  overflow: hidden;
  transition: all 0.3s ease;
}

#background-image {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 120px;
  height: 533px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1111;
}
#background-image .cover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.5;
  background: #000;
}
#background-image .content-box {
  position: relative;
  background: transparent;
  padding: 30px;
  margin-bottom: 90px;
}
#background-image .content-box .head-box {
  position: relative;
  margin: 0 auto 20px;
}
#background-image .content-box .head-box .subtitle {
  color: #91765a;
  font-family: OutFit, sans-serif;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 10px;
}
#background-image .content-box .head-box .title {
  font-family: OutFit, sans-serif;
  font-size: 36px;
  font-weight: 400;
  color: #fff;
}
#background-image .content-box .head-box .title span {
  color: #14100c;
}
#background-image .content-box .head-box .backtitle {
  position: absolute;
  font-family: OutFit, sans-serif;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 130px;
  opacity: 0.1;
  line-height: 65px;
  z-index: -2;
  color: #fff;
}
#background-image .content h5 {
  color: #fff;
  font-size: 27px;
  margin-bottom: 15px;
}
#background-image .content .item .star-color {
  color: #ffd27d;
}
#background-image .content .item p {
  color: #fff;
  font-family: OutFit, sans-serif;
}
#background-image .content .item .info {
  margin: 20px 0 0 0;
}
#background-image .content .item .info img {
  border-radius: 100%;
}
#background-image .content .item .info .author-image {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  overflow: hidden;
  margin: 0 auto;
  padding: 2px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
#background-image .content .item .info .author-image img {
  width: 100%;
}
#background-image .content .item .info .cont {
  margin-top: 0px;
}
#background-image .content .item .info h6 {
  font-size: 12px;
  font-weight: 900;
  margin-bottom: 0px;
  padding-top: 10px;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
  letter-spacing: 1px;
}
#background-image .content .item .info span {
  font-size: 12px;
  color: #fff;
}
#background-image .content .item .info .rate {
  float: right;
}
#background-image .content .item .info i {
  color: #14100c;
  font-size: 6px;
}

#features {
  padding-top: 120px;
  position: relative;
  position: -webkit-sticky;
}
#features .title {
  margin-bottom: 45ps;
  text-align: center;
}
#features .title p {
  color: #91765a;
  font-size: 12px;
  margin-bottom: 0px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
}
#features .title h1 {
  font-family: "Outfit", sans-serif;
  font-size: 48px;
  line-height: 1.2em;
  font-weight: 800;
  color: white;
}
#features:before {
  top: auto;
  bottom: 0;
  height: 40%;
  background: #f5eee7;
}
#features:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 60%;
  width: 100%;
  background: #14100c;
  z-index: -1;
}
#features .cart {
  transform: perspective(1000px);
  transform-style: preserve-3d;
  position: relative;
  background-size: cover;
  background-position: center;
  min-height: 450px;
  margin-bottom: 30px;
  top: 25px;
}
#features .cart .square {
  transform: rotateY(0deg);
  transform-style: preserve-3d;
  z-index: 1;
}
#features .cart:hover .cart-front {
  transform: rotateY(-180deg);
  transform-style: preserve-3d;
}
#features .cart:hover .cart-back {
  transform: rotateY(0deg);
  transform-style: preserve-3d;
}
#features .cart:hover .front-content {
  transform: translateX(-650px) scale(0.88);
  display: flex;
  align-items: end;
  justify-content: end;
}
#features .cart:hover .back-content {
  transform: translateY(-50%) translateX(0px) translateZ(0px) scale(1);
}
#features .cart:hover a {
  text-decoration: none;
}
#features .cart-back {
  transform: rotateY(180deg);
  transform-style: preserve-3d;
  z-index: 1;
}
#features .cart-back .back-content .appointment {
  text-decoration: none;
  display: inline-block;
  height: auto;
  padding: 15px 25px;
  border: 1px solid #fff;
  border-radius: 0;
  background-color: #fff;
  transition: border-color 400ms ease, color 400ms ease, background-color 400ms ease;
  color: #14100c;
  line-height: 20px;
  font-weight: 800;
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
#features .cart-back .back-content .appointment:hover {
  border: 1px solid #14100c;
  background-color: #14100c;
  color: #fff;
}
#features .cart-front {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  transition: transform 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.25);
  overflow: hidden;
  position: absolute;
  top: 0;
  backface-visibility: hidden;
}
#features .cart-front .category {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 3;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  text-orientation: mixed;
  text-transform: uppercase;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  font-family: "OutFit", sanserif;
  letter-spacing: 1px;
  background: #91765a;
  border: 1px solid #91765a;
  padding: 10px 3px;
  line-height: 1.5em;
}
#features .cart-front .category a {
  color: #fff;
}
#features .cart-front .category:hover {
  color: #fff;
}
#features .cart-front h4 {
  color: #fff;
  font-size: 27px;
  margin-top: 0px;
  margin-bottom: 10px;
  display: inline-flex;
}
#features .cart-front h6 {
  position: relative;
  color: #91765a;
  font-family: "OutFit", sanserif;
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
#features .cart-front h6 a {
  position: relative;
  color: #91765a;
  font-family: "OutFit", sanserif;
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
#features .cart-back {
  width: 100%;
  height: 100%;
  background: #91765a;
  background-size: cover;
  background-position: center center;
  transition: transform 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.25);
  overflow: hidden;
  position: absolute;
  top: 0;
  backface-visibility: hidden;
}
#features .cart-back:before {
  top: 25px;
  left: 15px;
  right: 15px;
  bottom: 25px;
}
#features .cart-back h4 {
  font-size: 27px;
  color: #fff;
}
#features .cart-back h6 {
  position: relative;
  color: #fff;
  font-family: "OutFit", sanserif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 10px;
  letter-spacing: 2px;
}
#features .cart-back p {
  font-size: 15px;
  color: #fff;
}
#features .cart-back p i {
  font-style: normal;
}
#features .cart-back .icon img {
  width: 60px;
  color: #14100c;
  margin-bottom: 15px;
}
#features .front-content {
  padding: 40px 30px;
  text-align: right;
  height: 450px;
  position: relative;
  transition: transform 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.25);
  transform: translateX(0px) scale(1);
  transform-style: preserve-3d;
  z-index: 2;
  justify-content: center;
  display: flex;
  align-items: flex-end;
}
#features .front-content .cart-title {
  width: 100%;
  text-align: center;
}
#features .front-content .cart-title .icon {
  color: #fff;
  font-size: 36px;
  margin-bottom: 15px;
}
#features .cart-back.bg-white {
  background: #fff;
}
#features .btn-line a {
  border-bottom: 1px solid #ccc;
  color: #14100c;
}
#features .btn-line a:hover {
  border-bottom: 1px solid #14100c;
  color: #14100c;
}
#features .back-content {
  padding: 30px;
  text-align: center;
  position: relative;
  top: 50%;
  transition: transform 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.25);
  transform: translateY(-50%) translateX(650px) translateZ(60px) scale(0.88);
  transform-style: preserve-3d;
  z-index: 2;
}
#features .back-content .icon {
  font-size: 36px;
  margin-bottom: 10px;
}
#features .flip-overlay {
  display: block;
  background: #000;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.3;
}

#video {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 120px;
  height: 450px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1111;
}
#video .cover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.5;
  background: #000;
}
#video .title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#video .title p {
  color: #fff;
  font-family: OutFit, sans-serif;
  font-size: 48px;
  font-weight: 800;
  line-height: 55px;
}
#video .video {
  position: relative;
  z-index: 8;
}
#video .video .video-button:hover .icon {
  color: #91765a;
  border: 2px solid #91765a;
  transform: scale(0.9);
}
#video .video .video-button .icon {
  color: #fff;
  width: 90px;
  height: 90px;
  border: 2px solid #fff;
  border-radius: 50%;
  line-height: 90px;
  text-align: center;
  font-size: 40px;
  position: relative;
  transition: all 0.5s;
  display: inline-block;
}
#video .video {
  display: flex;
  align-items: center;
  justify-content: center;
}

#pricing {
  padding-top: 120px;
  position: relative;
  position: -webkit-sticky;
}
#pricing .title {
  margin-bottom: 45ps;
  text-align: center;
}
#pricing .title p {
  color: #91765a;
  font-size: 12px;
  margin-bottom: 0px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
}
#pricing .title h1 {
  font-family: "Outfit", sans-serif;
  font-size: 48px;
  line-height: 1.2em;
  font-weight: 800;
  color: #14100c;
}
#pricing .price-list .item {
  line-height: 35px;
  margin-top: 30px;
}
#pricing .price-list .item .headline {
  display: flex;
}
#pricing .price-list .item .headline .title {
  font-family: OutFit, sans-serif;
  font-size: 17px;
  font-weight: 800;
  color: black;
  flex-shrink: 0;
}
#pricing .price-list .item .headline .dots {
  margin: 0 20px;
  position: relative;
  width: 100%;
}
#pricing .price-list .item .headline .dots::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  border-bottom: 1px dashed rgba(145, 118, 90, 0.3);
}
#pricing .price-list .item .headline .price {
  font-size: 17px;
  font-weight: 800;
  margin-left: auto;
  color: #91765a;
}
#pricing .price-list .item p {
  font-size: 15px;
}

#team {
  margin-top: 120px;
  padding-top: 120px;
  position: relative;
}
#team .title {
  margin-bottom: 45ps;
  text-align: center;
}
#team .title p {
  color: #91765a;
  font-size: 12px;
  margin-bottom: 0px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
}
#team .title h1 {
  font-family: "Outfit", sans-serif;
  font-size: 48px;
  line-height: 1.2em;
  font-weight: 800;
  color: white;
}
#team:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 60%;
  width: 100%;
  background: #14100c;
  z-index: -1;
}
#team:before {
  top: auto;
  bottom: 0;
  height: 40%;
  background: #f5eee7;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 60%;
  width: 100%;
  background: #14100c;
  z-index: -1;
}
#team:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 60%;
  width: 100%;
  background: #14100c;
  z-index: -1;
}
#team .team-page {
  position: relative;
}
#team .team-card {
  text-align: center;
  position: relative;
  padding-bottom: 40px;
  top: 33px;
  margin-bottom: 27px;
}
#team .team-card .name-box {
  position: absolute;
  left: 25px;
  right: 25px;
  bottom: 0;
  z-index: 2;
  background-color: #fff;
  padding: 25px 0;
  opacity: 1;
  visibility: visible;
  margin-bottom: 0;
  border-radius: 1px;
  transition: all ease 0.4s;
}
#team .team-card .name-box h3 {
  font-family: OutFit, sans-serif;
  font-size: 18px;
  color: #14100c;
}
#team .team-card .name-box h3 span {
  font-family: OutFit, sans-serif;
  font-size: 15px;
  font-weight: 300;
  color: #625c56;
  display: grid;
}
#team .team-card .team-image {
  position: relative;
}
#team .team-card .team-image:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0;
  width: 100%;
  background-color: #14100c;
  opacity: 0.9;
  visibility: hidden;
  transition: all ease 0.4s;
}
#team .team-card .team-content {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  padding-bottom: 38px;
  margin-top: 50px;
  opacity: 0;
  visibility: hidden;
  transition: all ease 0.4s;
}
#team .team-card .team-content .team-button {
  text-decoration: none;
  display: inline-block;
  height: auto;
  margin-top: 15px;
  padding: 15px 25px;
  border: 1px solid #fff;
  border-radius: 0;
  background-color: #fff;
  transition: border-color 400ms ease, color 400ms ease, background-color 400ms ease;
  color: #14100c;
  line-height: 20px;
  font-family: "Outfit", sans-serif;
  font-weight: 800;
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 20px;
}
#team .team-card .team-content .team-button:hover {
  border: 1px solid #91765a;
  background-color: #91765a;
  color: #fff;
}
#team .team-card .team-title {
  font-family: OutFit, sans-serif;
  font-size: 24px;
  color: #fff;
}
#team .team-card .team-title span {
  font-family: OutFit, sans-serif;
  font-size: 15px;
  color: #91765a;
  font-weight: 400;
  display: grid;
}
#team .team-card .team-text {
  font-size: 15px;
  color: #fff;
  max-width: 290px;
  margin-left: auto;
  margin-right: auto;
}
#team .team-card:hover .team-content {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.2s;
  margin-top: 1px;
}
#team .team-card:hover .name-box {
  opacity: 0;
  visibility: hidden;
  margin-bottom: 80px;
}
#team .team-card:hover .team-image::before {
  height: 100%;
  visibility: visible;
}
#team .team-card .social {
  position: relative;
  left: 0;
  width: 100%;
  transition: all 0.4s;
}
#team .team-card .social a {
  font-size: 15px;
  color: #91765a;
  margin: 0 5px;
}
#team .team-card .social a:hover {
  color: #fff;
}
#team .team-page-card {
  text-align: center;
  position: relative;
  padding-bottom: 40px;
}
#team .team-page-card .name-box {
  position: absolute;
  left: 25px;
  right: 25px;
  bottom: 0;
  z-index: 2;
  background-color: #fff;
  padding: 25px 0;
  opacity: 1;
  visibility: visible;
  margin-bottom: 0;
  border-radius: 1px;
  transition: all ease 0.4s;
}
#team .team-page-card .name-box h3 {
  font-family: OutFit, sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #14100c;
}
#team .team-page-card .name-box h3 span {
  font-family: OutFit, sans-serif;
  font-size: 15px;
  font-weight: 300;
  color: #625c56;
  display: grid;
}
#team .team-page-card .team-image {
  position: relative;
}
#team .team-page-card .team-image:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0;
  width: 100%;
  background-color: #14100c;
  opacity: 0.9;
  visibility: hidden;
  transition: all ease 0.4s;
}
#team .team-page-card .team-content {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  padding-bottom: 38px;
  margin-top: 50px;
  opacity: 0;
  visibility: hidden;
  transition: all ease 0.4s;
}
#team .team-page-card .team-title {
  font-family: OutFit, sans-serif;
  font-size: 24px;
  color: #fff;
}
#team .team-page-card .team-title span {
  font-family: OutFit, sans-serif;
  font-size: 15px;
  color: #91765a;
  font-weight: 400;
  display: grid;
}
#team .team-page-card .team-text {
  font-size: 15px;
  color: #fff;
  max-width: 290px;
  margin-left: auto;
  margin-right: auto;
}
#team .team-page-card:hover .team-content {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.2s;
  margin-top: 1px;
}
#team .team-page-card:hover .name-box {
  opacity: 0;
  visibility: hidden;
  margin-bottom: 80px;
}
#team .team-page-card:hover .team-image::before {
  height: 100%;
  visibility: visible;
}
#team .team-page-card .social {
  position: relative;
  left: 0;
  width: 100%;
  transition: all 0.4s;
}
#team .team-page-card .social a {
  font-size: 15px;
  color: #91765a;
  margin: 0 5px;
}
#team .team-page-card .social a:hover {
  color: #fff;
}
#team .team-box {
  position: relative;
  margin-bottom: 45px;
}
#team .team-box .wrap {
  flex-wrap: wrap;
  background: #fff;
}
#team .team-box .wrap .desc {
  padding: 45px 40px;
}
#team .team-box .wrap .desc .section-title {
  font-family: OutFit, sans-serif;
  font-size: 27px;
  line-height: 1.2em;
  font-weight: 800;
  color: #14100c;
}
#team .team-box .wrap .desc .section-subtitle {
  color: #91765a;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 0px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
#team .team-box .wrap .desc p {
  margin-bottom: 0;
}
#team .team-box .cont {
  width: 100%;
  background-color: #91765a;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: rgba(255, 255, 255, 0.1);
  padding: 22px 40px;
  display: flex;
}
#team .team-box .cont .coll {
  width: auto;
  max-width: auto;
}
#team .team-box .cont .coll h6 {
  font-size: 15px;
  font-weight: 300;
  line-height: 1em;
  white-space: normal;
  margin: 0;
  color: #fff;
}
#team .team-box .cont .coll h5 {
  font-size: 15px;
  font-weight: 400;
  white-space: normal;
  margin: 0;
  margin-top: 0;
  margin-bottom: 0;
  vertical-align: middle;
  transition: color 0.3s;
  color: #fff;
}
#team .team-box .cont .coll .social-icon {
  text-align: center;
  margin-bottom: 0px;
}
#team .team-box .cont .coll .social-icon a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: #fff;
  border-radius: 100%;
  margin-right: 3px;
  transition: all 0.4s;
}
#team .team-box .cont .coll .social-icon a:hover {
  border: 1px solid #fff;
  background: #fff;
  color: #14100c;
}
#team .team-box .simpl-bord.nav-tabs {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(145, 118, 90, 0.3);
}
#team .team-box .simpl-bord .nav-item {
  margin-right: 50px;
}
#team .team-box .simpl-bord .nav-item:last-of-type {
  margin-right: 0;
}
#team .team-box .simpl-bord .nav-link {
  padding: 0;
  border: 0;
  color: inherit;
  background: transparent !important;
  font-weight: 800;
  cursor: pointer;
  color: #14100c;
  font-size: 18px;
}
#team .team-box .simpl-bord .nav-link.active {
  font-weight: 800;
  color: #91765a;
}

#offering {
  margin-top: 150px;
}
#offering .title {
  margin-bottom: 45ps;
  text-align: center;
}
#offering .title p {
  color: #91765a;
  font-size: 12px;
  margin-bottom: 0px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
}
#offering .title h1 {
  font-family: OutFit, sans-serif;
  font-size: 48px;
  line-height: 1.2em;
  font-weight: 800;
  color: #14100c;
}
#offering .cart {
  background: #fdfbf8;
  padding: 40px 20px;
  transition: 0.5s;
  position: relative;
  z-index: 1;
  margin-bottom: 30px;
  top: 40px;
  line-height: 1;
  text-align: center;
}
#offering .cart a {
  text-decoration: none;
}
#offering .cart h5 {
  font-weight: 900;
  font-size: 24px;
  color: #14100c;
  margin-bottom: 15px;
}
#offering .cart:hover h5 {
  color: #91765a;
  transition: 0.5s;
}
#offering .cart:hover .image {
  transform: rotate(360deg);
  color: #14100c;
}
#offering .cart .image {
  font-size: 60px;
  color: #91765a;
  line-height: 1;
  margin-bottom: 10px;
  display: inline-block;
  transition: 0.5s;
}
#offering .cart .image img {
  width: 80px;
  height: 80px;
}
#offering .cart p {
  margin: 0;
  font-size: 15px;
  font-weight: 300;
  line-height: 28px;
  color: #625c56;
  margin-bottom: 15px;
  width: 99%;
}
#offering .cart .shape {
  position: absolute;
  opacity: 0.03;
  z-index: -1;
  bottom: 15px;
  left: 120px;
}
#offering .cart .shape .image {
  font-size: 140px;
  color: #14100c;
}
#offering .cart .shape .image img {
  width: 120px;
  height: 120px;
}

#news {
  margin-top: 120px;
  padding-top: 120px;
  position: relative;
}
#news .title {
  margin-bottom: 45ps;
  text-align: center;
}
#news .title p {
  color: #91765a;
  font-size: 12px;
  margin-bottom: 0px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
}
#news .title h1 {
  font-family: "Outfit", sans-serif;
  font-size: 48px;
  line-height: 1.2em;
  font-weight: 800;
  color: white;
}
#news:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 60%;
  width: 100%;
  background: #14100c;
  z-index: -1;
}
#news:before {
  top: auto;
  bottom: 0;
  height: 40%;
  background: #f5eee7;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 60%;
  width: 100%;
  background: #14100c;
  z-index: -1;
}
#news:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 60%;
  width: 100%;
  background: #14100c;
  z-index: -1;
}
#news .cart {
  position: relative;
  overflow: hidden;
  margin-bottom: 0px;
  top: 17px;
}
#news .cart:hover img {
  filter: none;
  transform: scale(1.09, 1.09);
  -webkit-filter: brightness(75%);
  transition: all 1s ease;
}
#news .cart:hover .cart-content {
  bottom: 0;
}
#news .cart img {
  transition: all 0.5s;
}
#news .cart .date {
  display: inline-block;
  position: absolute;
  top: 20px;
  left: 30px;
  background: #91765a;
  border: 1px solid #91765a;
  color: #fff;
  padding: 10px 10px 5px 10px;
  text-align: center;
}
#news .cart .date a {
  text-decoration: none;
}
#news .cart .date span {
  font-family: OutFit, sans-serif;
  display: block;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 1px;
  color: #fff;
  line-height: 1.2em;
}
#news .cart .date i {
  font-family: OutFit, sans-serif;
  display: block;
  font-size: 24px;
  font-style: normal;
  color: #fff;
  font-weight: 800;
}
#news .cart .cart-content {
  margin: -185px 30px 90px;
  padding: 30px;
  background-color: #fff !important;
  border: 1px solid #fff;
  border-radius: 0;
  overflow: hidden;
  transition: 0.2s cubic-bezier(0.3, 0.58, 0.55, 1);
  bottom: -90px;
  position: relative;
}
#news .cart .cart-content .category {
  font-size: 12px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 5px;
}
#news .cart .cart-content .category a {
  margin-right: 5px;
  position: relative;
  color: #91765a;
  text-decoration: none;
}
#news .cart .cart-content .category a:hover {
  color: #14100c;
}
#news .cart .cart-content .category a:last-child {
  margin-right: 0;
}
#news .cart .cart-content .category a:last-child:after {
  display: none;
}
#news .cart .cart-content h5 {
  color: #14100c;
  font-size: 24px;
  margin-bottom: 0px;
  font-family: OutFit, sans-serif;
  line-height: 1.25em;
}
#news .cart .cart-content h5 a {
  color: #14100c;
  font-size: 24px;
  margin-bottom: 0px;
  font-family: OutFit, sans-serif;
  line-height: 1.25em;
  text-decoration: none;
}
#news .cart .cart-content h5 a:hover {
  color: #14100c;
}
#news .cart .cart-content h5:hover {
  color: #14100c;
}
#news .cart .cart-content p {
  color: #fff;
  font-size: 15px;
}
#news .cart .cart-content i {
  color: #fff;
  font-size: 20px;
}

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 0px;
  line-height: 1.5;
  display: block;
  outline: none;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.owl-theme .owl-dots .owl-dot span {
  width: 12px;
  height: 12px;
  margin: 0 3px;
  border-radius: 50%;
  background: transparent;
  border: 1px solid #91765a;
  display: block;
}
.owl-theme .owl-dots .owl-dot:hover span {
  background: #91765a;
  border: 1px solid #91765a;
}
.owl-theme .owl-dots .owl-dot.active span {
  background: #91765a;
  border: 1px solid #91765a;
}

#appointment {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 120px;
  height: 533px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1111;
}
#appointment .cover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.5;
  background: #000;
}
#appointment p {
  margin-top: 0;
  color: #ffd27d;
}
#appointment h5 {
  font-family: OutFit, sans-serif;
  font-weight: 800;
  font-size: 27px;
  line-height: 30px;
  margin-bottom: 20px;
  color: white;
}
#appointment .reservation {
  display: flex;
  align-items: center;
  padding-top: 20px;
}
#appointment .reservation .icon img {
  filter: invert(1);
  color: #91765a;
  width: 60px;
  height: 60px;
}
#appointment .reservation .text {
  margin-left: 15px;
}
#appointment .reservation .text p {
  font-family: OutFit, sans-serif;
  color: #91765a;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  font-weight: 800;
  margin-bottom: 5px;
}
#appointment .reservation .text a {
  font-family: "Outfit", sans-serif;
  font-size: 27px;
  font-weight: 800;
  color: #fff;
  text-decoration: none;
}
#appointment .booking-box {
  min-width: 451px;
  padding: 45px 30px 60px;
  background-color: #f5eee7;
}
#appointment .booking-box .booking-box-title h1 {
  font-family: OutFit, sans-serif;
  text-align: center;
  font-size: 27px;
  color: #14100c;
  margin-bottom: 30px;
  font-weight: 800;
}
#appointment .booking-box .booking-area form input {
  width: 100%;
  margin-bottom: 15px;
  padding: 15px 40px 15px 15px;
  border: none;
}
#appointment .booking-box .booking-area form input:focus {
  outline: none;
  box-shadow: none;
  background: #fff;
  border: none;
  color: #14100c !important;
}
#appointment .booking-box .booking-area form .date-input-area input {
  padding-right: 15px;
}
#appointment .booking-box .booking-area form select {
  width: 100%;
  margin-bottom: 15px;
  padding: 15px 40px 15px 15px;
  border: none;
  color: gray;
}
#appointment .booking-box .booking-area form select:focus {
  outline: none;
  box-shadow: none;
  background: #fff;
  border: none;
  color: #14100c !important;
}
#appointment .booking-box .booking-area form .make-appoint {
  font-family: OutFit, sans-serif;
  width: 100%;
  text-transform: uppercase;
  border: none;
  background-color: #91765a;
  font-size: 12px;
  color: white;
  line-height: 52px;
  letter-spacing: 2px;
  margin-top: 15px;
  transition: all 0.3s ease-out;
  font-weight: 800;
}
#appointment .booking-box .booking-area form .make-appoint:hover {
  background: #14100c;
}

#colleagues {
  background: #91765a;
  padding-top: 20px;
  padding-bottom: 10px;
}
#colleagues .owl-carousel {
  margin: 0px 0;
}
#colleagues .clients-logo {
  opacity: 1;
  line-height: 0;
}
#colleagues .clients-logor:hover {
  opacity: 1;
}

.footer {
  position: relative;
  display: block;
}
.footer .footer-up {
  position: relative;
  display: block;
  background-color: #14100c;
  padding: 90px 0 60px 0;
  z-index: 1;
  border-top: 1px solid rgba(255, 255, 255, 0.04);
}
.footer .footer-up .contact-column {
  margin-bottom: 30px;
}
.footer .footer-up .contact-column h3 {
  font-family: OutFit, sans-serif;
  color: #fff;
  font-size: 27px;
  font-weight: 800;
  margin-bottom: 15px;
}
.footer .footer-up .contact-column p {
  color: #aba59f;
  font-size: 15px;
  margin: 0;
  padding-bottom: 15px;
}
.footer .footer-up .contact-column .info .phone {
  font-family: OutFit, sans-serif;
  font-size: 24px;
  color: #91765a;
  font-weight: 800;
  display: block;
  transition: all 500ms ease;
}
.footer .footer-up .contact-column .info .phone:hover {
  color: #fff;
}
.footer .footer-up .contact-column .info .email {
  font-size: 15px;
  line-height: 3em;
  color: #aba59f;
  position: relative;
  display: inline-block;
  transition: all 500ms ease;
}
.footer .footer-up .contact-column .info .email:hover {
  color: #fff;
}
.footer .footer-up .contact-column .social {
  display: flex;
  align-items: center;
  margin-top: 20px;
  gap: 15px;
}
.footer .footer-up .contact-column .social a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #91765a;
  font-size: 15px;
  background-color: transparent;
  transition: all 500ms ease;
  text-decoration: none;
}
.footer .footer-up .contact-column .social a:hover {
  background-color: transparent;
  color: #fff;
}
.footer .footer-up .work-time h3 {
  font-family: OutFit, sans-serif;
  font-size: 27px;
  font-weight: 800;
  color: #fff;
  margin-bottom: 15px;
  white-space: nowrap;
}
.footer .footer-up .work-time ul {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}
.footer .footer-up .work-time ul li {
  margin-bottom: 15px;
  font-size: 15px;
  list-style: none;
}
.footer .footer-up .work-time ul li .days {
  display: table-cell;
  white-space: nowrap;
  padding-right: 10px;
  color: #aba59f;
}
.footer .footer-up .work-time ul li .dots {
  height: 4px;
  width: 100%;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.1);
  position: relative;
  top: -7px;
  display: table-cell;
  white-space: nowrap;
}
.footer .footer-up .work-time ul li span {
  white-space: nowrap;
  padding-left: 10px;
  font-family: OutFit, sans-serif;
  color: #aba59f;
  display: table-cell;
}
.footer .footer-up .subscribe {
  margin-bottom: 30px;
}
.footer .footer-up .subscribe h3 {
  font-size: 27px;
  color: #fff;
  margin-bottom: 15px;
  font-weight: 800;
}
.footer .footer-up .subscribe .content p {
  color: #aba59f;
  font-size: 15px;
  margin: 0;
  padding-bottom: 15px;
}
.footer .footer-up .subscribe .content form {
  margin-top: 30px;
  position: relative;
}
.footer .footer-up .subscribe .content form input {
  width: 100%;
  padding: 16px 60px 17px 16px;
  background-color: transparent;
  border: 1px solid #91765a;
  border-radius: 0px;
  color: #aba59f;
  margin-bottom: 15px;
  outline: none;
}
.footer .footer-up .subscribe .content form button {
  background-color: #91765a;
  padding: 17px 20px;
  border-radius: 0px;
  color: #fff;
  border: 0;
  position: absolute;
  top: 4px;
  right: 4px;
  cursor: pointer;
  font-family: OutFit, sans-serif;
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 2px;
  text-transform: uppercase;
  outline: none;
  transition: all 0.3s ease-out;
}
.footer .footer-up .subscribe .content form button:hover {
  background-color: #fff;
  color: #14100c;
  outline: none;
}
.footer .footer-bottom {
  position: relative;
  display: block;
  background-color: #14100c;
  box-shadow: 0px -1px 0px 0px rgba(255, 255, 255, 0.04);
  padding: 32px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.04);
}
.footer .footer-bottom .content p {
  font-size: 12px;
  color: #aba59f;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .history img {
    margin-bottom: 90px;
    padding: 35px 20px;
  }
}
@media screen and (max-width: 991px) {
  .content-box {
    margin-bottom: 90px;
    padding: 35px 20px;
  }
}
@media screen and (max-width: 767px) {
  .content-box {
    padding: 0px;
  }
}
@media screen and (max-width: 991px) {
  .features {
    padding-bottom: 70px;
  }
  .features .cart {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 767px) {
  #video .title {
    font-size: 27px;
    line-height: 27px;
  }
}
@media screen and (max-width: 991px) {
  .barber-pricing2 .content .cont h4 {
    line-height: 40px;
  }
}/*# sourceMappingURL=home.css.map */