@charset "UTF-8";
@font-face {
  font-family: MyFont;
  src: url(../../../fonts/icomoon.ttf);
}
@font-face {
  font-family: Outfit;
  src: url(../../../fonts/Outfit-VariableFont_wght.ttf);
}
@font-face {
  font-family: Theimfy;
  src: url(../../../fonts/themify.woff);
}
.container-main {
  width: 74%;
  margin: 0 auto;
}

body {
  background: #f5eee7;
}

.progress-wrap {
  position: fixed;
  bottom: 20px;
  right: 20px;
  height: 50px;
  width: 50px;
  cursor: pointer;
  display: block;
  border-radius: 50px;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transform: translateY(20px);
  transition: all 400ms linear;
  box-shadow: inset 0 0 0 0px rgba(217, 214, 209, 0.5);
}
.progress-wrap::after {
  position: absolute;
  font-family: Themify;
  content: "✂";
  text-align: center;
  line-height: 50px;
  font-size: 12px;
  font-weight: normal;
  left: 0;
  top: 0;
  height: 50px;
  width: 50px;
  cursor: pointer;
  display: block;
  z-index: 1;
  transition: all 400ms linear;
  color: #91765a;
}
.progress-wrap svg path {
  fill: none;
}
.progress-wrap svg.progress-circle path {
  stroke-width: 4;
  box-sizing: border-box;
  transition: all 400ms linear;
  stroke: #91765a;
}

.progress-wrap.active-progress {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.navbar {
  position: absolute;
  background: transparent;
  padding-right: 0;
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 99;
  height: 100px;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.navbar .navbar-menu-icon {
  color: #fff;
}
.navbar .navbar-collapse {
  margin-top: 15px;
}
.navbar .icon-bar {
  color: #fff;
}
.navbar .navbar-nav .nav-link {
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
  margin: 1px;
  transition: all 0.4s;
  padding-right: 12px;
  padding-left: 12px;
}
.navbar .navbar-nav .nav-link:hover {
  color: #91765a;
}
.navbar .navbar-nav .nav-link.nav-color {
  color: #14100c;
}
.navbar .navbar-nav .nav-item a {
  font-weight: bold;
}
.navbar .navbar-nav .active {
  color: #91765a !important;
}
.navbar .navbar-nav .active i {
  color: #91765a;
}
.navbar .dropdown-menu {
  display: block;
  opacity: 0;
  visibility: hidden;
  transform: translateY(20px);
  width: 200px;
  padding: 15px;
  border-radius: 0;
  border: 0;
  background-color: #14100c;
  transition: all 0.3s;
}
.navbar .dropdown-menu .dropdown-item {
  padding: 7px 0;
  font-family: MyFont;
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  position: relative;
  transition: all 0.4s;
  background-color: transparent;
}
.navbar .dropdown-menu .dropdown-item span {
  display: block;
  cursor: pointer;
}
.navbar .dropdown-menu .dropdown-item i {
  padding: 13px 0 0 5px;
  font-size: 8px;
  float: right;
}
.navbar .dropdown-menu .dropdown-item:hover {
  color: #91765a;
}
.navbar .dropdown-menu .dropdown:hover .dropdown-menu {
  top: -10px;
  right: auto;
  min-width: 200px;
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.navbar .dropdown-menu .dropdown-item.active {
  color: #91765a;
}
.navbar .dropdown-menu li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.02);
}
.navbar .dropdown-menu li:last-child {
  border-bottom: none;
}
.navbar .dropdown-menu .dropdown-menu.pull-left {
  top: 0;
  left: auto;
  right: 100%;
}
.navbar .dropdown:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.navbar .dropdown-toggle::after {
  display: none;
}

.navbar-toggler-icon {
  background-image: none;
}

.nav-scroll {
  background: #14100c;
  padding: 0 0 0 0;
  position: fixed;
  top: -100px;
  left: 0;
  width: 100%;
  transition: transform 0.5s;
  transform: translateY(100px);
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  height: 90px;
}
.nav-scroll .navbar-toggler-icon {
  color: #91765a;
}
.nav-scroll .icon-bar {
  color: #91765a;
}
.nav-scroll .navbar-nav .nav-link {
  color: #fff;
}
.nav-scroll .navbar-nav .active {
  color: #91765a !important;
}
.nav-scroll .navbar-nav .logo {
  padding: 15px 0;
  color: #14100c;
}
.nav-scroll .logo-image {
  width: 110px;
  margin-bottom: 0px;
}
.nav-scroll .logo-wrapper .logo h2 {
  font-family: Outfit;
  font-size: 27px;
  font-weight: 800;
  display: block;
  width: 100%;
  position: relative;
  color: #fff;
  margin-bottom: 0;
  text-transform: uppercase;
}
.nav-scroll .logo-wrapper .logo span {
  display: block;
  font-family: MyFont;
  font-size: 12px;
  color: #91765a;
  font-weight: 400;
  letter-spacing: 4px;
  display: block;
  margin-top: 0px;
  line-height: 1em;
  text-transform: uppercase;
}

.logo-wrapper {
  float: left;
}
.logo-wrapper .logo h2 {
  font-family: MyFont;
  font-size: 27px;
  font-weight: 800;
  display: block;
  width: 100%;
  position: relative;
  color: #fff;
  margin-bottom: 0;
  text-transform: uppercase;
}
.logo-wrapper .logo h2 a i {
  color: #625c56;
  font-size: 20px;
  vertical-align: super;
}
.logo-wrapper .logo span {
  display: block;
  font-family: "Outfit", sans-serif;
  font-size: 12px;
  color: #91765a;
  font-weight: 400;
  letter-spacing: 4px;
  display: block;
  margin-top: 0px;
  line-height: 1em;
  text-transform: uppercase;
}

.logo {
  padding: 0;
}

.logo-image {
  width: 120px;
  margin-bottom: 0px;
}

.dropdown .nav-link i {
  padding-left: 0px;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
}

#slider .vegas-content-scrollable {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 75px;
}
#slider .texting {
  margin-left: 10px;
}

[data-overlay-dark]:before {
  background: #000;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.barber-slider {
  position: relative;
}
.barber-slider::before {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-color: black;
}

.kenburns-section {
  z-index: 1;
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  position: relative;
  align-items: center;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.kenburns-section::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -5;
  background: #000;
}

.kenburns-inner {
  position: relative;
  z-index: 15;
  height: 100% !important;
  text-align: center;
  color: white;
  position: relative;
  z-index: 222;
  top: 35%;
  left: 70%;
  transform: translateX(-50%);
  width: 100%;
}
.kenburns-inner .text-center {
  width: 100%;
}
.kenburns-inner .caption {
  position: relative;
}
.kenburns-inner .caption h6 {
  position: relative;
  margin-bottom: 15px;
  color: #fff;
  font-size: 12px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1.5em;
}
.kenburns-inner .caption h3 {
  position: relative;
  font-family: MyFont;
  font-size: 60px;
  line-height: 1em;
  color: #fff;
  font-weight: 400;
}
.kenburns-inner .caption h3 span {
  display: block;
  font-size: 30px;
  display: block;
  margin-top: 0px;
  line-height: 1.5em;
  animation-delay: 0.3s;
  color: #91765a;
}
.kenburns-inner .caption h1 {
  position: relative;
  font-size: 60px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
  line-height: 1.2em;
  font-weight: bold;
}
.kenburns-inner .caption h1 span {
  display: block;
  font-size: 36px;
  display: block;
  margin-top: 0px;
  line-height: 1.5em;
  letter-spacing: 1px;
  color: transparent;
  -webkit-text-stroke: 1px #91765a;
  opacity: 0.8;
}
.kenburns-inner .appointment {
  display: inline-block;
  height: auto;
  padding: 15px 25px;
  border: 1px solid #fff;
  border-radius: 0;
  background-color: #fff;
  transition: border-color 400ms ease, color 400ms ease, background-color 400ms ease;
  color: #14100c;
  line-height: 20px;
  font-family: "Outfit", sans-serif;
  font-weight: 800;
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
}
.kenburns-inner .appointment:hover {
  border: 1px solid #91765a;
  background-color: #91765a;
  color: #fff;
}

.arrow {
  position: absolute;
  bottom: 6%;
  width: 100%;
  z-index: 999;
  outline: none;
}
.arrow i {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  color: #fff;
  font-size: 15px;
  border: 1px solid #fff;
  border-radius: 100%;
}

.arrow.bounce {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0% {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0);
  }
  20% {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0);
  }
  53% {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0);
  }
  80% {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0);
  }
  100% {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0);
  }
  40% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -30px, 0);
  }
  43% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -30px, 0);
  }
  70% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -15px, 0);
  }
  90% {
    transform: translate3d(0, -4px, 0);
  }
}
#about {
  padding-top: 120px;
  font-family: OutFit;
}
#about .list-about li {
  display: flex;
  align-items: center;
}
#about .list-about .list-icon {
  display: flex;
  align-items: center;
}
#about .list-about .list-icon i {
  font-size: 12px;
  color: #91765a;
}
#about .list-about .list-text {
  display: flex;
  align-items: center;
  margin-left: 15px;
}
#about .list-about .list-text p {
  font-size: 15px;
  margin: 0px;
}
#about h6 {
  margin-left: 2px;
  color: #91765a;
  font-size: 12px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
}
#about h3 {
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  color: #14100c;
}
#about p {
  font-size: 15px;
  font-weight: 300;
  line-height: 28px;
  color: #625c56;
  margin-bottom: 15px;
}
#about .first-image {
  width: 261px;
  height: 335px;
  margin-top: 90px;
  margin-bottom: 30px;
}
#about .second-image {
  width: 261px;
  height: 335px;
}

#services .service-cart {
  margin-top: 110px;
  display: flex;
}
#services .service-cart img {
  width: 55px;
  height: 55px;
}
#services .service-cart .description {
  margin-left: 27px;
  margin-top: -13px;
}
#services .service-cart .description h5 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}
#services .service-cart .description p {
  font-family: OutFit, sans-serif;
  font-size: 15px;
  width: 278px;
  color: #625c56;
}

#history {
  background: black;
  padding-top: 120px;
  margin-top: 120px;
  font-family: OutFit;
}
#history .main-image img {
  width: 451px;
  height: 547px;
}
#history .title {
  margin-top: 90px;
}
#history .title .experience {
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 2px;
  color: #91765a;
  text-transform: uppercase;
}
#history .title .title-desc {
  color: white;
  font-family: OutFit, sans-serif;
  font-size: 48px;
  line-height: 1.2em;
  font-weight: 800;
}
#history p {
  font-family: OutFit, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.75em;
  color: #ABA59F;
  margin-bottom: 15px;
}
#history .signature {
  display: flex;
  align-items: center;
  gap: 23px;
}
#history .signature img {
  width: 70px;
}
#history .signature .name-about {
  margin: 30px 0;
}
#history .signature .name-about .position {
  font-size: 15px;
  color: #aba59f;
}
#history .signature .name-about .name {
  font-family: OutFit, sans-serif;
  font-size: 15px;
  color: #91765a;
}/*# sourceMappingURL=home.css.map */